extends layout
block content
    h1 Welcome Post Detail Page
    h1 #{post[0].name}
    h2 #{post[0].content}
    h1 Likes #{post[0].likes} Dislikes #{post[0].dislikes} 
    
    ol
        each comment in post[0].comment
            li #{comment.commentName}
            h1 #{comment.commentContent}
            h2 #{comment.user.username}' tarafından yorum yapıldı
            
            