extends layout
block content
    div(class='user-detail')
        h1(class='user-detail-baslik') #{user.username}'s Articles / FollowingCount: #{user.following.length} FollowerCount: #{user.followers.length}
        p Followers
        ol
            each follower in user.followers
                li #{follower.username}
        //- p Followers #{user.followers.username}
        //- p #{user.followers[0].username}
        div(class='articles')
            each post in user.posts
                h1 #{post.name}
                p #{post.content}
        
    
    