extends layout
block content
    div(class='user-detail')
        h1(class='user-detail-baslik') #{user.username}'s Articles / FollowingCount: #{user.following.length} FollowerCount: #{user.followers.length}
        p Followers
        ol
            each follower in user.followers
                a(href=`/users/${follower._id}`) #{follower.username}
        p Following
        ol
            each following in user.following
                a(href=`/users/${following._id}`) #{following.username}
        div(class='articles')
            each post in user.posts
                a(href=`/users/article/${post._id}`) #{post.name}
                p #{post.content}
        
    
    